body {
	background-color: #0b0b0b;
	color: #f5f5f5;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	min-height: 100vh;
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* Contenedor principal */

.reproductor-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #151515;

	width: 400px;
	min-height: 150px;

	padding: 35px;

	border: 1px solid #292929;
	border-radius: 18px;

	gap: 20px;

	box-shadow:
		0 10px 30px rgba(0, 0, 0, 0.6),
		0 0 25px rgba(230, 57, 70, 0.08);
}

/* Título */

.reproductor-container h1 {
	margin: 0;

	font-size: 28px;
	font-weight: 600;

	letter-spacing: 0.5px;
}

/* Contenedor del audio */

.audio-container {
	width: 100%;
}

/* Reproductor (Oculto porque usamos barra personalizada) */
audio {
	display: none;
}

/* Barra de progreso */
.progress-container {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 10px;
	font-size: 13px;
	color: #a0a0a0;
	margin-top: 10px;
}

#progressBar {
	flex: 1;
	appearance: none;
	-webkit-appearance: none;
	height: 6px;
	background: #333;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	transition: background 0.15s ease;
}

#progressBar::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #e63946;
	cursor: pointer;
	transition: transform 0.1s ease;
}

#progressBar::-webkit-slider-thumb:hover {
	transform: scale(1.2);
}

/* Controles */

.controls-container {
	display: flex;
	justify-content: center;
	gap: 10px;
}

/* Botones */

.btn {
	padding: 12px 15px;

	border: 1px solid #333;
	border-radius: 8px;

	background-color: #202020;
	color: #f5f5f5;

	cursor: pointer;

	font-weight: 600;
	font-size: 16px;

	transition:
		background-color 0.25s ease,
		border-color 0.25s ease,
		color 0.25s ease,
		transform 0.25s ease,
		box-shadow 0.25s ease;
}

/*Imagen*/
.image-container {
	width: 250px;
	height: 250px;

	border-radius: 18px;
	overflow: hidden;

	box-shadow:
		0 10px 30px rgba(0, 0, 0, 0.6),
		0 0 25px rgba(230, 57, 70, 0.08);
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* Hover */

.btn:hover {
	background-color: #e63946;
	border-color: #e63946;
	color: #ffffff;

	transform: translateY(-2px);

	box-shadow: 0 5px 15px rgba(230, 57, 70, 0.3);
}

/* Cuando se presiona */

.btn:active {
	transform: translateY(0);

	box-shadow: 0 2px 8px rgba(230, 57, 70, 0.2);
}

/* Animaciones para el título de la canción */
.swipe-out {
	animation: swipeOutUp 0.25s ease-in forwards;
}

.swipe-in {
	animation: swipeInUp 0.25s ease-out forwards;
}

@keyframes swipeOutUp {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-15px);
	}
}

@keyframes swipeInUp {
	0% {
		opacity: 0;
		transform: translateY(15px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
